{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ object.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small> <br>
                  {% if object.author == user %}


                    <div>
                        <a class="btn btn-outline-success" href="{% url 'blog-update' object.id %}">Update</a>
                        <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
                    </div>
                  {% endif %}
              </div>
              <h2><a class="article-title" href="{% url 'blog-detail' object.id %}">{{ object.title }}</a></h2>
              <p class="article-content">{{ object.content }}</p>

            </div>
            <br>
          </article>

<!-- Comment Section -->
<div class="comment-section">
      <h3>Comments</h3>
    {% for comment in post.comments.all %}

    {% for comment in object.comments.all %}
        <div class="comment-box">
            <strong>{{ comment.user.username }}</strong> ({{ comment.date_created|date:"F d, Y H:i" }})
            <p>{{ comment.content }}</p>
            {% if request.user == comment.user or request.user.is_superuser %}
                <a href="{% url 'update-comment' comment.id %}" class="btn btn-warning btn-sm">Update</a>
                <a href="{% url 'delete-comment' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
 {% endfor %}
    {% if request.user.is_authenticated %}
        <div class="add-comment-section">
            <h4>Add a Comment</h4>
            <form method="POST" action="{% url 'add-comment' object.id %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </form>
        </div>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> to post a comment.</p>
    {% endif %}
</div>


{% endblock %}
